<div class="pure-g">

    <div class="pure-u-1 {{#if forms}}pure-u-lg-3-4{{/if}}">
        <div class="pad-m col col-left">
            <h2>{{model.title}}</h2>

            {{#if form}}
                {{>form form=form}}
            {{/if}}

            {{#each related}}
                <h3>{{model.title}} Records</h3>

                {{#if records.length}}
                    {{>table}}
                {{else}}
                    No Records
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{#if forms}}
    <div class="pure-u-1 pure-u-lg-1-4">
        <div class="pad-m col col-right">
        {{#each forms}}
            <h2>{{title}}</h2>
            {{>form form=this}}
        {{/each}}
        </div>
    </div>
    {{/if}}

</div>