<div class="pure-u-1 ">
    {{#eq field.inputType 'text'}}
        {{>form/field-text}}
    {{/eq}}
    {{#eq field.inputType 'checkbox'}}
        {{>form/field-checkbox}}
    {{/eq}}
    {{#eq field.inputType 'select'}}
        {{>form/field-select}}
    {{/eq}}
    {{#eq field.inputType 'hidden'}}
        {{>form/field-hidden}}
    {{/eq}}
</div>