<table class="pure-table pure-table-striped">
    <thead>
        {{>table/head}}
    </thead>
    <tbody>
        {{#each records}}
            {{>table/row fields=../fields noActions=../noActions}}
        {{/each}}
    </tbody>
</table>